%ul#groups.nav.nav-tabs
  - @groups.each do |group|
    %li.nav-item.active
      %a.nav-link{href: '#', 'data-group': "#{group}"}
        = group
%table.table.table-hover.table-striped.table-bordered.table-sm
  %thead
    %tr.d-flex
      %th.col-md-3.text-center Key
      %th.col-md-8.text-center Value
      %th.col-md-1.text-center
  %tbody
    - @settings.each do |setting|
      %tr.d-flex{'data-group': "#{setting.group}"}
        %td.col-md-3=setting.key
        %td.col-md-8=setting.value
        %td.col-md-1.text-center
          %a.btn.btn-outline-secondary.btn-sm{href: "/settings?id=#{setting.id}"}
            %i.bi.bi-pencil-square

= haml :'settings/_form'
:javascript
  $(document).ready(function() {
    $('#groups .nav-link').click(function() {
      $('#groups .nav-link').removeClass('active');
      $(this).addClass('active');
      $("tbody tr").hide();
      $("tbody tr").removeClass('d-flex');
      $("tbody tr[data-group='"+$(this).data('group')+"']").show()
      $("tbody tr[data-group='"+$(this).data('group')+"']").addClass('d-flex')
    });

    $('#groups li:nth-child(1) a').click();
  });
