.col-md-12
  #profit
.col-md-12
  #trades
:javascript
  dates = #{@dates}
  trades = #{@trades}

  data = {
    daily_profit: [],
    matched_trades: [],
    avg_profit: [],
    buy_trades: [],
    sell_trades: []
  };

  for (var i = 0; i < dates.length; i++) {
    data['daily_profit'].push({
      x: Date.parse(#{@daily_profit}[i][0]),
      y: #{@daily_profit}[i][1]
    });

    data['avg_profit'].push({
      x: Date.parse(#{@avg_profit}[i][0]),
      y: Math.round(#{@avg_profit}[i][1])
    });
  }

  for (var i = 0; i < trades.length; i++) {
    var key;
    if (trades[i][1] == 'B') {
      key = 'buy_trades'
    } else {
      key = 'sell_trades'
    }
    data[key].push({x: Date.parse(trades[i][0]), y: trades[i][2]})
  }

  Highcharts.chart('profit', {
    credits: false,
    chart: { zoomType: 'x' },
    plotOptions: {
      series: { pointPadding: 0, groupPadding: 0.3 }
    },
    title: { text: 'Daily Profit' },
    xAxis: [ { type: 'datetime', crosshair: true } ],
    yAxis: [
      { title: { text: '' } },
      { title: { text: '' }, opposite: true },
    ],
    tooltip: { shared: true },
    series: [
      {
        name: 'Daily Profit',
        type: 'column',
        data: data['daily_profit'],
        tooltip: { valuePrefix: '$' }
      },
      {
        name: 'Avg. Profit',
        type: 'spline',
        data: data['avg_profit'],
        dashStyle: 'shortdot',
        yAxis: 1,
        tooltip: { valuePrefix: '$' }
      }
    ]
  });

  Highcharts.chart('trades', {
    credits: false,
    chart: { zoomType: 'x' },
    title: { text: 'Trades' },
    plotOptions: {
      column: { grouping: true },
      series: { pointPadding: 0, groupPadding: 0.2 }
    },
    xAxis: [
      { type: 'datetime', crosshair: true }
    ],
    yAxis: [
      { title: { text: '' } },
    ],
    tooltip: { shared: true },
    series: [
      {
        name: 'Buy Trades',
        type: 'column',
        stack: 'trades',
        color: '#DC3545',
        yAxis: 0,
        data: data['buy_trades']
      },
      {
        name: 'Sell Trades',
        type: 'column',
        stack: 'trades',
        color: '#28A745',
        yAxis: 0,
        data: data['sell_trades']
      },
    ]
  });
