.col-md-12
  #profit
:javascript
  dates = #{@dates}
  trades = #{@trades}

  data = {
    daily_profit: [],
    matched_trades: [],
    avg_profit: [],
    buy_trades: [],
    sell_trades: []
  };

  for (var i = 0; i < dates.length; i++) {
    data['daily_profit'].push({
      x: Date.parse(#{@daily_profit}[i][0]),
      y: #{@daily_profit}[i][1]
    });

    data['avg_profit'].push({
      x: Date.parse(#{@avg_profit}[i][0]),
      y: Math.round(#{@avg_profit}[i][1])
    });
  }

  for (var i = 0; i < trades.length; i++) {
    var key;
    if (trades[i][1] == 'B') {
      key = 'buy_trades'
    } else {
      key = 'sell_trades'
    }
    data[key].push({x: Date.parse(trades[i][0]), y: trades[i][2]})
  }

  Highcharts.stockChart('profit', {
    credits: false,
    chart: { zoomType: 'x' },
    title: { text: 'Daily Profit' },
    rangeSelector: {
      buttons: [
        { type: 'week', count: 1, text: '1w' },
        { type: 'month', count: 1, text: '1m' },
        { type: 'month', count: 6, text: '6m' },
        { type: 'all', text: 'All' }
      ],
      selected: 1
    },
    xAxis: [ { type: 'datetime', crosshair: true } ],
    yAxis: [
      { title: { text: 'Profit' } },
      { title: { text: 'Trades' }, opposite: false },
    ],
    tooltip: { shared: true },
    series: [
      {
        name: 'Buy Trades',
        type: 'column',
        stack: 'trades',
        color: '#DC3545',
        yAxis: 1,
        data: data['buy_trades']
      },
      {
        name: 'Sell Trades',
        type: 'column',
        stack: 'trades',
        color: '#28A745',
        yAxis: 1,
        data: data['sell_trades']
      },
      {
        name: 'Daily Profit',
        type: 'spline',
        data: data['daily_profit'],
        tooltip: { valuePrefix: '$' },
        yAxis: 0,
        marker: {
          enabled: true,
          lineWidth: 3,
          lineColor: 'orange',
          fillColor: 'white'
        }
      },
    ],
    plotOptions: {
      column: { grouping: true },
      series: { pointPadding: 0, groupPadding: 0.2 }
    }
  });
