%table.table.table-hover.table-striped.table-bordered.table-sm
  %thead
    %tr.d-flex
      %th.col-sm-3.text-center Name
      %th.col-sm-1.text-center Stock
      %th.col-sm-2.text-center Max Bid
      %th.col-sm-2.text-center Sell Value
      %th.col-sm-2.text-center Status
      %th.col-sm-2.text-center{colspan: 2} Futbin
  %tbody
    - @players.each do |player|
      - futbin_market_data = player.futbin_market_data
      %tr.d-flex
        %td.d-none
          %input#max_bid{type: :hidden, value: player.max_bid}
          %input#sell_value{type: :hidden, value: player.sell_value}
          %input#futbin_value{type: :hidden, value: futbin_market_data['avg_sell_price']}
          %input#sell_value_ratio{type: :hidden, value: sell_price_ratio(player)}
          %input#max_bid_ratio{type: :hidden, value: max_bid_ratio(player)}

        %td.col-sm-3{'data-toggle': 'tooltip', title: "#{player.fullname}"}
          %a{target: '_blank', href: futbin_sales_url(player)}=player.name
        %td.col-sm-1.text-center=player.stock
        %td.col-sm-2.d-flex
          %a.btn.btn-light.btn-xs.update-player.text-dark{'data-player': '{"id": '+"#{player.id}"+', "max_bid":'+"#{player.max_bid-100}"+'}'}
            %i.bi.bi-dash-circle
          %span.text-center{style: 'width: 75%'}
            = money player.max_bid
          %a.btn.btn-light.btn-xs.update-player.text-dark{'data-player': '{"id": '+"#{player.id}"+', "max_bid":'+"#{player.max_bid+100}"+'}'}
            %i.bi.bi-plus-circle
        %td.col-sm-2.d-flex
          %a.btn.btn-light.btn-xs.update-player.text-dark{'data-player': '{"id": '+"#{player.id}"+', "sell_value":'+"#{player.sell_value-100}"+'}'}
            %i.bi.bi-dash-circle
          %span.text-center{style: 'width: 75%'}
            = money player.sell_value
          %a.btn.btn-light.btn-xs.update-player.text-dark{'data-player': '{"id": '+"#{player.id}"+', "sell_value":'+"#{player.sell_value+100}"+'}'}
            %i.bi.bi-plus-circle
        %td.col-sm-2.text-center
          - if player.status == 1
            %a.btn.btn-outline-secondary.btn-sm.update-player{'data-player': '{"id": '+"#{player.id}"+', "status":"0"}'}
              %i.bi.bi-check-circle-fill
          - else
            %a.btn.btn-outline-secondary.btn-sm.update-player{'data-player': '{"id": '+"#{player.id}"+', "status":"1"}'}
              %i.bi.bi-dash-circle
          %a.btn.btn-outline-secondary.btn-sm{href: "/player_trades?id=#{player.id}"}
            %i.bi.bi-pencil-square
          %a.btn.btn-outline-secondary.btn-sm.optimize-values
            %i.bi.bi-lightning-fill
        %td.col-sm-1.text-right=money futbin_market_data['avg_sell_price']
        %td.col-sm-1.text-center="#{futbin_market_data['sell_rate']}%"

= haml :'player_trades/_form'

:javascript
  $(".update-player").click(function() {
    $.post('/player_trades', $(this).data());
    location.reload();
  });

  $(".optimize-values").click(function() {
    tr = $(this).parents('tr');
    sell_value = $(tr).find('#sell_value').val();
    max_bid = $(tr).find('#max_bid').val();

    data = {'sell_value': sell_value, 'max_bid': max_bid};
    console.log(data);
    $.post('/player_trades', data);
  });

  $(document).ready(function() {
    $("tbody tr").each(function() {
      if ($($(this).find("a.update-player")[4]).data("player").status == '0') {
        ratio = $(this).find('#max_bid_ratio').val();
        td = $(this).find("td:nth-child(4)");
        if (ratio > 80) {
          td.addClass('text-danger');
        } else if (ratio > 65) {
          td.addClass('text-success');
        } else if (ratio < 65) {
          td.addClass('text-warning');
        }

        ratio = $(this).find('#sell_value_ratio').val();
        td = $(this).find("td:nth-child(5)");
        if (ratio >= 120) {
          td.addClass('text-danger');
        } else if (ratio > 105) {
          td.addClass('text-success');
        } else if (ratio < 85) {
          td.addClass('text-warning');
        }
      }
    });
  });
