.row
  = haml :_log
.row
  .col
    %h4 Player report
    = haml :_report
.row
  .col-md-6
    %h4 Players
    = haml :_players
  .col-md-6
    %h4 Last trades
    = haml :_trades

.row
  .col
    %h3="Last error: #{@last_error.timestamp}"
    %p=@last_error.error_msg
    %img{src: @last_error.img_path, width: '100%'}
