%table.table.table-hover.table-striped.table-bordered.table-sm
  %thead
    %tr.d-flex
      %th.col.col-md-2.text-center Name
      %th.col.col-md-1.text-center Stock
      %th.col.col-md-2.text-center Max Bid
      %th.col.col-md-2.text-center Sell Value
      %th.col.col-md-2.text-center Status
      %th.col.col-md-2.text-center{colspan: 2} Futbin
  %tbody
    - @players.each do |player|
      - futbin_market_data = player.futbin_market_data
      %tr.d-flex
        %td.col.col-md-2{'data-toggle': 'tooltip', title: "#{player.fullname}"}
          %a{target: '_blank', href:"#{Futbin::URL_BASE}/21/sales/#{player.futbin_id}"}=player.name
        %td.col.col-md-1.text-center=player.stock
        %td.col.col-md-2.d-flex
          %a.btn.btn-light.btn-xs.update-player.text-dark{'data-player': '{"id": '+"#{player.id}"+', "max_bid":'+"#{player.max_bid-100}"+'}'}
            %i.bi.bi-dash-circle
          %span.text-center{style: 'width: 75%'}
            = money player.max_bid
          %a.btn.btn-light.btn-xs.update-player.text-dark{'data-player': '{"id": '+"#{player.id}"+', "max_bid":'+"#{player.max_bid+100}"+'}'}
            %i.bi.bi-plus-circle
        %td.col.col-md-2.d-flex
          %a.btn.btn-light.btn-xs.update-player.text-dark{'data-player': '{"id": '+"#{player.id}"+', "sell_value":'+"#{player.sell_value-100}"+'}'}
            %i.bi.bi-dash-circle
          %span.text-center{style: 'width: 75%'}
            = money player.sell_value
          %a.btn.btn-light.btn-xs.update-player.text-dark{'data-player': '{"id": '+"#{player.id}"+', "sell_value":'+"#{player.sell_value+100}"+'}'}
            %i.bi.bi-plus-circle
        %td.col.col-md-2.text-center
          - if player.status == 1
            %a.btn.btn-outline-secondary.btn-sm.update-player{'data-player': '{"id": '+"#{player.id}"+', "status":"0"}'}
              %i.bi.bi-check-circle-fill
          - else
            %a.btn.btn-outline-secondary.btn-sm.update-player{'data-player': '{"id": '+"#{player.id}"+', "status":"1"}'}
              %i.bi.bi-dash-circle
          %a.btn.btn-outline-secondary.btn-sm{href: "/players?name=#{player.name}"}
            %i.bi.bi-pencil-square
        %td.col.col-md-1.text-right=money futbin_market_data['avg_sell_price']
        %td.col.col-md-1.text-center="#{((futbin_market_data['sell_rate'] || 0) * 100).to_i}%"

= haml :'players/form'

:javascript
  $('.update-player').click(function() {
    $.post('/players', $(this).data());
    location.reload();
  });
